
:root {
  --background: #303030;
  --foreground: #fafafa;
}

body {
  font-family: monospace;
  background-color: var(--background);
  color: var(--foreground);
}

#index-h1 {
  font-size: 30px;
  color: #fa3030;
}
